*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:springgreen;
    margin: 0;
}
header{
    width: 100%;
    background-color:green;
    overflow: hidden;
    box-shadow: 3px 2px 5px black;
}

h1{
    text-align:center;
    color:white;
    font-size: 30px;
}
p#header{
    text-align:center;
    color:white;
    margin-left: 100px;
    margin-right: 100px;
}
button{
    margin-left: 2%;
    background-color: rgb(13, 73, 13);
    padding: 5px 20px;
    border: 1px solid rgb(34, 75, 34);
    color: white;
    font-size: 13px;
    border-radius: 8px;
    margin-bottom: 1px;
}
main {
    padding-top: 0px;
    background-color:white;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 2px 4px 5px black;
}
h2{
    margin-top: 0px;
    padding-top: 30px;
    color:green;
    text-align:center;
}
p.hist{
    margin: 10px 10%;
    color: black;
}
h2.versao{
    padding-top:0;
    background-color:palegreen;
}
a{
    color:rgb(113, 180, 12);
}
p.img{
    text-align: center;
}
aside{
    text-align: center;
    background-color: green;
}
div#eba{
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: aquamarine;
}