@charset "UTF-8"
/* Regra @charset caso haja problemas com acentuação*/
body {
    background-color: azure;
    color: black;
    font-size: 12pt;
    font-family: Arial;
}

h1 {
    color: brown;
}

p {
    color: blueviolet;
    text-decoration: none;
}